<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
		<title>Profile - ConTip</title> 
		<link href="./assets/style.css" rel="stylesheet" />
	</head>
	<body> 
		<div className="container">
			<div className="tm-header">
				<div className="row-reverse tm-header-inner">
					<div className="col-md-6 col-12">
						<div className="tm-site-text-box">
							<h1 className="tm-site-title">ConTip</h1>
							<h6 className="tm-site-description">Content recommender for optimal free time experience</h6>	
						</div>
					</div>
					<nav className="col-md-6 col-12 tm-nav">
						<ul className="tm-nav-ul">
							<li className="tm-nav-li"><a href="index.html" className="tm-nav-link">Home</a></li>
							<li className="tm-nav-li"><a href="profile.html" className="tm-nav-link active">Profile</a></li>
							<li className="tm-nav-li"><a href="search.html" className="tm-nav-link">Search</a></li>
							<li className="tm-nav-li"><a href="watched.html" className="tm-nav-link">Watched</a></li>
							<li className="tm-nav-li"><a href="login.html" className="tm-nav-link">Login</a></li>
						</ul>
					</nav>
				</div>
			</div>

			<main>
				<header className="row tm-welcome-section">
					<h2 className="col-12 text-center tm-section-title">My Profile</h2>
					<p className="col-12 text-center">...where you can find or change info about your account.</p>
				</header>

				<div className="tm-section">
					<h2>Profile Info<br><br></h2>
					<p>Username: my_username<br><br></p>
					<p>Email: my_email@email.org<br><br></p>
					<p>Full name: Firstname Lastname<br><br></p>
					<p>Last login: 11.03.2020<br><br></p>
					<h2>Change Profile<br><br></h2>
					<h3>Change Favorite Genres<br><br></h3>
					<form action="#" method="POST">
						<input type="checkbox" id="genre1" name="genre1" value="Genre 1">
						<label for="genre1"> First Genre</label><br>
						<input type="checkbox" id="genre2" name="genre2" value="Genre 2">
						<label for="genre2"> Second Genre</label><br>
						<input type="checkbox" id="genre3" name="genre3" value="Genre 3">
						<label for="genre3"> Third Genre</label><br>
						<input type="checkbox" id="genre4" name="genre4" value="Genre 4">
						<label for="genre4"> Fourth Genre</label><br>
						<input type="checkbox" id="genre5" name="genre5" value="Genre 5">
						<label for="genre5"> Fifth Genre</label><br><br><br>
						<button type="submit" className="tm-btn">Change</button>
					</form>
					<h3>Change Email<br><br></h3>
					<form action="#" method="POST">
						<input type="email" name="email" className="form-control" placeholder="New Email" />
						<button type="submit" className="tm-btn">Change</button>
					</form>
					<h3>Change Password<br><br></h3>
					<form action="#" method="POST">
						<input type="password" name="password" className="form-control" placeholder="New Password" />
						<input type="password" name="password" className="form-control" placeholder="New New Password" />
						<button type="submit" className="tm-btn">Change</button>
					</form>
					<h3>Delete Account<br><br></h3>
					<form action="#" method="POST">
						<button type="submit" className="tm-btn">Delete Account</button>
					</form>
				</div>
			</main>

			<footer className="tm-footer text-center">
				<div className="tm-container-inner-2 tm-contact-section row col-md-6">
					<h2>You Think We Don't Know That One Unique, Artistic, Extraordinary Movie?<br>Recommend It To Us!<br><br></h2>
					<form action="#" method="POST" className="tm-contact-form">
						<input type="text" name="name" className="form-control" placeholder="Movie Name" />
						<input type="email" name="email" className="form-control" placeholder="Rating out of 10" />
						<textarea rows="5" name="message" className="form-control" placeholder="IMDB Link"></textarea>
						<button type="submit" className="tm-btn">Send</button>
					</form>
				</div>
			</footer>
		</div>
	</body>
</html>